<nav class="nav nav-item">
    <div id="app-name">
        <img src="/images/logo.png" alt="logo">
        <h1 class="text-xl font-semibold">NOTE BOARD</h1>

    </div>
    <form action="/search" method="POST" id="note-search" class="flex justify-center items-center gap-2">
        <input class="nav-item border-2 rounded-xl" type="search" name="searchTerm" id="searchTerm" placeholder="Search" required />
        <button type="submit">
            <img src="/images/search.png" alt="search" class="h-7 w-7 ">
            <!-- Search -->
        </button>
        
    </form>
    
   
    <div class="dropdown"  style="float:right;"> 
        <img src="/images/user-icon.png"  alt="user" class="profile rounded-full" height="40px" width="40px">
        <div class="dropdown-content"> 
            <a class="text-teal-50 text-lg hover:underline" href="/user-profile">Profile</a>
            <a class="text-teal-50 text-lg hover:underline" href="#">Settings</a>
            <a class="text-teal-50 text-lg hover:underline" href="#">Help</a>   
            <form action="/logout" method="post">
                <button class="logout-btn  p-2 text-lg font-medium rounded-md bg-white text-[#1e56a0] " type="submit">Logout</button>
            </form>
               
          
        </div> 
    </div>
    

</nav>

<section class="side-menu">
    <!-- <img class="side-menu-item" src="/images/note-icon.png" height="50px" width="50px" alt="Note-icon"> -->
    <a class=" text-gray-100 " href="note-editor">
        <span id="add-note" class="hidden sm:hidden md:hidden lg:inline-block ">+ New Note</span> 
       <!-- <img src="/images/add.png" class="w-10 h-10 mt-4  sm:block md:block lg:hidden" alt="New Note"> -->
    </a>
    <a  href="/dashboard">
       <span class="hidden sm:hidden md:hidden lg:inline-block p-2">My notes</span> 
       <!-- <img src="/images/my-notes.png" class="w-10 h-10 sm:block md:block lg:hidden" alt="My Notes"> -->
    </a>
    <!-- <img src="/images/note.svg" class="w-full h-full lg:block hidden" alt=""> -->
    <img id="side-menu-image" src="/images/navImage.png" class="h-full object-contain lg:block hidden" alt="">
</section>


<section class="bottom-menu sm:block md:block lg:hidden">
    <a href="note-editor">
       <img src="/images/add.png" class="w-10 h-10 sm:block md:block lg:hidden" alt="New Note">
    </a>
    <a  href="/dashboard">
        <img src="/images/my-notes.png" class="w-10 h-10 sm:block md:block lg:hidden" alt="My Notes">
     </a>
</section>