<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <main id="index-page" class="flex flex-row h-full justify-evenly items-center w-full bg-transparent">
      <div id="heroContent">
        
        <div id="index-icon">
          <img src="./images/logo.png"  alt="">
          <p>NOTEBOARD</p>
        </div>
        
        <p>
         Never forget a thing! Take notes, organize your thoughts.<br>
          Create, edit, and delete notes with ease. Include text, headings, lists, and checklists.
        </p>

        <p>
          Get started with your notes now!
        </p>

        <a href="/signup">Get Started</a>
        
      </div>
    </main>

    <%- include('./includes/end.ejs') %>